{% extends 'base.html' %}
{% block title %}Prompts{% endblock %}
{% block content %}
<section>
    <h2>Enter some words to fill out the story!</h2>
    <form action="/story" class="input-field">
        {% for prompt in prompts %}
        <p><label for="{{prompt}}">{{display_prompts[prompt]}}: </label><input type="text" name="{{prompt}}" required>
        </p>
        {% endfor %}
        <button>Submit</button>
    </form>
    <p>
    <form action="/">
        <button type="submit">Go back</button>
    </form>
    </p>
</section>
{% endblock %}